name: LeetCode Questions

on:
  schedule:
    # Runs every 12 hours
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: LeetCode Snake Job

    steps:
      - uses: actions/checkout@v3

      - name: Generate LeetCode Snake SVG
        uses: saifulshihab/leetcode-snake@v2.3.1
        with:
          # Your LeetCode username
          leetcode_user_name: divyanshiv10
          
          # The branch where the SVG will be committed
          outputs: |
            dist/leetcode-snake.svg
            dist/leetcode-snake-dark.svg?palette=github-dark

      - name: Commit & Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add dist
          git commit -m "Generate LeetCode snake" || exit 0
          git push
